<nav>
    <ul>
        <li>
            <a href="/simulation">
                Simulation
            </a>
            <a href="#">
                Production Table
            </a>
        </li>
    </ul>
</nav>