<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header"); %> 

    <form action="/simulation/createSimulation/execute" method = "post" id = "createSimulation" enctype="application/json">
        <input type="text" name = "numberOfMachines" placeholder="Machines">
        <input type="text", name = "numberOfJobs" placeholder="Jobs">
        <input type="text", name = "numberOfOperations" placeholder="Operations">
        <button type ="submit"></button>
    </form>
</body>
</html>